.header-title {
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 2rem;
    span {
        font-family: 'Fredoka One', cursive;
        color: #af8560;
    }
}