.form-template {
    width: 100%;
    height: 835px;
    padding-top: 63px;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.form-field {
    width: 400px;
    border-radius: 10px;
    padding: 0 40px;
    border: 3px solid $main-color-3;

    .form-title {
        font-family: $Fredoka-font;
        text-align: center;
        padding: 40px 0 10px 0;
        font-size: 2rem;
        color: #222;
    }
}

.text-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 40px 0;

    .input-text {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        padding: 0 5px;
        height: 40px;
        outline: none;
        border: none;
        font-size: 1rem;

        &:focus ~ .input-label {
            top: -5px;
            color: $main-color-2;
        }

        &:focus ~ .input-border::before {
            width: 100%;
        }
    }

    .input-border {
        &::before {
            content: '';
            position: absolute;
            top: 40px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $main-color-4;
            transition: 1s;
        }
        &.fill::before {
            width: 100%;
        }
    }
    
    .input-label {
        font-family: $Montserrat-font;
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s top;
        &.fix {
            top: -5px;
            color: $main-color-4;
        }
    }
}


.form-errmsg {
    color:red;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 15px;
}

.form-search {
    font-size: 0.8rem;
    a {
        margin: 0 2px;
        &:hover {
            color: $main-color-4;
            text-decoration: underline;
        }
    }
}

.form-submit {
    font-family: $Montserrat-font;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: $main-color-4;
    border-radius: 25px;
    font-size: 1.2rem;
    color : #fdfdfd;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 20px 0;
    
    &:hover {
        background: $main-color-5;
        transition: .5s;
    }
}

.form-signup-link {
    font-family: $Montserrat-font;
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
    
    a {
        font-family: $Montserrat-font;
        color: $main-color-4;
        text-decoration: none;

        &:hover { 
            text-decoration: underline; 
        }
    }
}

.form-question {
    margin: 10px 0 20px 0;
    text-align: center;
    p {
        font-family: $Montserrat-font;
        display: inline;
    }
    a { 
        font-family: $Montserrat-font;
        margin-left: 10px;
        color: #d3a887;

        &:hover { 
            text-decoration: underline; 
        }
    }
}

.modal-wrapper {
    width: 550px;
    height: 100px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    background-color: #fdfdfd;
    border: 2.5px solid #014901;
    z-index: 1000;
    border-radius: 12px;
    padding: 10px;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .modal-icon {
        color: #00B300;
        vertical-align: center;
        margin-right: 8px;
        font-size: 1.2rem;
    }

    .loading {
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border:dashed 3px rgb(0, 179, 0);
        animation: spin 2s linear infinite;
        margin-right: 15px;
    }
    
    .modal-msg{
        color: #000;
        font-size: 1rem;
    }
}

/* 0 ~ 670 : 테블릿  */
@media screen and (max-width: 670px){ 
    .form-template {
        width: 100%;
        height: 655px;
        padding-top: 120px;
    }
    .form-field {
    width: 350px;
    padding: 0 30px;

        .form-title {
            padding: 30px 0 10px 0;
            font-size: 1.7rem;
        }
    }
    .text-field {
        margin: 32px 0;

        .input-label {
            font-size: 0.9rem;
        }
    }
}

/* 0 ~ 670 : 테블릿  */
@media screen and (max-width: 360px){ 
    .form-template {
        height: 625px;
    }
    .form-field {
    width: 300px;
    padding: 0 22px;

        .form-title {
            font-size: 1.5rem;
        }
    }
    .text-field {
        margin: 25px 0;

        .input-label {
            font-size: 0.8rem;
        }
    }
}

@keyframes spin {
    from   {  
        transform: rotate(0deg); 
    }
    to   {  
        transform: rotate(360deg); 
    }
  }