.watchlist-btn {
  position: absolute;
  width: 100px;
  right: 330px;
  top: 80px;
  text-align: center;
  margin-right: 10px;
}

.watchlist-btn-watch {
    width: 70px;
    height: 35px;
    padding-top: 3px;
    font-family: $Jua-font;
    margin-right: 5px;
}
