#main-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    background: #fdfdfd;

}

.banner-img {
    width: 420px;
    height: 420px;
    background-color: #e7dcd4;
    border-radius: 50%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    img {
        width: 100%;
        opacity: 0.8;
    }
}

.banner-title {
    position: relative;
    margin-top: 50px;
    z-index: 99;
    span, h1, p, em {
        font-family: 'Fredoka One', cursive;
    }

    h1 {
        position: relative;
        font-size: 4.8rem;

        span, em { color: #cfac8c; }

        em {
            position: absolute;
            margin-left: 5px;
            animation: text2 1s;
            transform: rotate(25deg);
            font-style: normal;
        }
    }

    p {
        margin-top: -10px;
        position: relative;
        text-align: right;
        transform: translateX(0);
        opacity: 0;

        &.show {
            animation: text 1.5s;
            opacity: 1;
        }
    }
}

.banner-btn { 
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
    font-size: 2.5rem;
    border: 2.5px solid #222;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;

    &:hover { 
        color: #db9668; 
        border: 2px solid #db9668;
    }
}

/* 0 ~ 1450 : 데스크탑1  */
@media screen and (max-width: 1450px) {
}

/* 0 ~ 1220 : 데스크탑2  */
@media screen and (max-width: 1220px) {
    .banner-btn {
        font-size: 2rem;
    }
}

/* 0 ~ 960 : 테블릿1  */
@media screen and (max-width: 960px){
    .banner-img { 
        width: 400px; 
        height: 400px;
    }

    .banner-title {
        h1 { font-size: 3.75rem; }
    }
}

/* 0 ~ 768px : 테블릿2 */
@media screen and (max-width: 768px){
    #main-banner {
        height: 76vh;
    }
    .banner-img {display: none;}

    .banner-title {
        h1 { font-size: 3rem; }
    }

    .banner-btn {
        font-size: 1.8rem;
        width: 45px;
        height: 45px;
    }
}

/* 0 ~ 670px : 테블릿3 */
@media screen and (max-width: 670px){
    #main-banner { padding: 0 20px; }

    .banner-title {
        h1 { font-size: 2.2rem; }

        p {
            font-size: 0.8rem;
            margin-top: -5px;
        }
    }
    .banner-btn {
        font-size: 1.6rem;
        width: 35px;
        height: 35px;
        line-height: 35px;
        bottom: 100px;
    }
}

/* 0 ~ 480px : 모바일1 */
@media screen and (max-width: 480px){
    .banner-title {
        h1 { font-size: 1.7rem; }
        p { font-size: 0.7rem; }
    }
    .banner-btn {
        font-size: 1.4rem;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

//애니메이션
@keyframes text {
    from {
        transform: translateX(10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes text2 {
    from {
        transform: rotate(0deg);
        color: #222;
    }

    to {
        transform: rotate(25deg);
        color:#cfac8c;
    }
}

