//reset
@import './base/reset';

//Header
@import './layout/header';

//Footer
@import './layout//footer';

//Login, Register form
@import './layout/forms';

//HomePage
@import './pages/home/funtion';
@import './pages/home/introduce';
@import './pages/home/mainBanner';
@import './pages/home/notice';
@import './pages/home/articles';
