//reset
@import './base/reset';

//variables
@import './helpers/variables';

//Header
@import './layout/header';

//Footer
@import './layout//footer';

//Login, Register form
@import './layout/forms';

//HomePage
@import './layout/home/funtion';
@import './layout/home/introduce';
@import './layout/home/mainBanner';
@import './layout/home/notice';
@import './layout/home/articles';

//Boards
@import './layout/boards/boardBanner';
@import './layout/boards/market';
@import './layout/boards/basic';

//Profile
@import './layout/profile/profile';

//PostWrite
@import './layout/boards/postWrite';